<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo d-none d-md-block">
            <a class="navbar-brand" href="#" style="color: #fff;">
                <!-- <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
                LOGO
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pr-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">臺幣存匯\轉帳</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">外幣存匯</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">信用卡</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">繳費繳稅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">基金信託</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">智能投資</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">證期投資</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">申請設定</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">登出</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>