<div class="container session2">
    <div class="row">
        <div class="col-12 col-md-8 list-board">
            <div class="sub-1 d-flex flex-row">
                <div class="sub-text mx-3 my-auto text-center align-item-center ">免費跨轉剩餘次數 :3</div>
                <div class="sub-text text-center my-auto align-item-center">免費跨提剩餘次數 :5</div>
                <div class="sub-text btn-group ms-auto mx-3" role="group" aria-label="Basic radio toggle button group">
                    <!-- <input type="radio" class="btn-check" name="btn-radio" id="btnradio1" autocomplete="off" checked>
                    <label (click)="filterChange(7)" data-value="7" class="btn btn07" for="btnradio1">近 7 天</label>
                    <input type="radio" class="btn-check" name="btn-radio" id="btnradio2" autocomplete="off">
                    <label (click)="filterChange(14)" data-value="14" class="btn btn14" for="btnradio2">近 14 天</label> -->
                    <label class="toggleSwitch nolabel" onclick="">
                        <input type="checkbox" checked />
                        <a></a>
                        <span>
                            <span (click)="filterChange(7)" class="left-span">近 {{day7}} 天</span>
                            <span (click)="filterChange(14)" class="right-span">近 {{day14}} 天</span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="sub-2 d-flex flex-row">
                <h6 class="mx-5">日期</h6>
                <h6 class="mx-5">摘要 / 金額</h6>
            </div>
            <app-list-item *ngFor="let d of datalist" [datalist]=d></app-list-item>
        </div>
        <div class="col-12 col-md-4  my-5">
            <div class="sub-3-img">
                <img src="assets/image/chart.png" alt="chart">
            </div>
            <div class="cart-items">
                <app-chart-item *ngFor="let i of chartItem" [chartItem]=i></app-chart-item>
            </div>
        </div>
    </div>

</div>