<div class="container session2">
    <div class="row">
        <div class="col-8">
            <div class="sub-1 d-flex flex-row">
                <div class="sub-text mx-3 my-auto text-center align-item-center ">免費跨轉剩餘次數 :3</div>
                <div class="sub-text text-center my-auto align-item-center">免費跨提剩餘次數 :5</div>
                <div class="sub-text btn-group ms-auto mx-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn07" for="btnradio1">近 7 天</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn14" for="btnradio2">近 14 天</label>
                </div>
            </div>

            <div class="sub-2 d-flex flex-row">
                <h6 class="mx-3">日期</h6>
                <h6 class="mx-3">摘要 / 金額</h6>
            </div>
            <app-list-item></app-list-item>
        </div>
        <div class="col-4  my-5">
            <div class="sub-3-img">
                <img src="assets/image/chart.png" alt="chart">
            </div>
        </div>
    </div>

</div>