<div class="container mb-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="selections d-flex justify-content-between">
                <!-- <app-select-item *ngFor="let d of boardItem" [title]="d" data-value="d"></app-select-item> -->
                <!-- <app-select-item data-value="臺幣" data-money="123,122" [title]="title1" (click)="subChange($event)">
                </app-select-item> -->
                <select class="select-item w-25 select-focus" #select id="select" data-value="臺幣"
                    (change)="subChange($event,0);accountChange($event)">
                    <option class="select-focus" value={{i}} *ngFor="let acc of twAccMoney;let i = index">
                        {{twAccMoney[i].titleAcc}}</option>
                </select>
                <app-select-item class="select-focus2 w-25 select-focus" data-value="外幣" data-money="22,100" [title]="title2"
                    (click)="subChange($event,1)">
                </app-select-item>
                <app-select-item class="select-focus2 w-25 " data-value="數位" data-money="550,122" [title]="title3"
                    (click)="subChange($event,2)">
                </app-select-item>

            </div>

            <div class="select-title text-light d-flex justify-content-between ">
                <h2>{{boardSub}}資產總額: </h2>
                <h2 (click)="eyeChange()">
                    <i *ngIf="eyeOpen.open" class="fa-regular fa-eye"></i>
                    <i *ngIf="eyeOpen.close" class="fa-regular fa-eye-slash"></i>
                </h2>
            </div>
            <div *ngIf="this.eyeOpen.open" class="select-amount text-light d-flex justify-content-end">
                <h3 class="my-auto">{{this.amount | currency:'':'symbol':'0.0-0'}}</h3>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="credit-card">
                <img src="assets/image/{{this.cardShow}}" alt="">
                <!-- <img *ngIf="cardShow.card02" src="assets/image/card2.png" alt=""> -->
            </div>
        </div>
    </div>


</div>